*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bgimg{
    background-image: url("https://cdn.pixabay.com/photo/2024/01/30/13/05/ai-generated-8541977_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}