*{
    padding: 0;
    margin: 0;
}
/*--header start--*/
.header{

    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-family: Roboto, sans-serif;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    list-style: none;
    padding-top: 25px;
    color: black;
}
.menulist a{
   text-decoration: none;
   color: green;
   font-size: 20px;
}
.menulist a:hover{
    color:skyblue;
}
/*--header end--*/
/*--home start--*/
.logo {
    color: green;
    text-decoration: none;
    padding-top: 20px;
    font-family:Roboto, sans-serif ;
}
.logo:hover{
    color: blue;
}

.home{
    width: 100%;
    height: 400px;
    background: url(./img/bg\ img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
}
.img{
    width: 400px;
    padding-top: 50px;
}
.title{
    color: #6A0D91;
  padding-left: 100px;
  padding-top: 100px;   
  font-size: 30px;
  font-family:Roboto, sans-serif ;
 
}
.ti{
    color: rgba(0, 128, 0, 0.452);
    padding-left: 100px;
    padding-top: 20px;
    font-size: 50px;
    font-family:Roboto, sans-serif ;
}
.main{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family: open sans,sans-serif ;
}
.text1{
    color: white;
    background-color: silver;
    text-align: center;
    font-family:Roboto, sans-serif ;
}
.text2{
    background-color: silver;
    height: 30px;
    text-align: center;
    font-family:Roboto, sans-serif ;
}
/*--home end--*/
/*--product listing start--*/
.head{
    text-align: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.589);
    margin-top: 5%;
    font-family:Roboto, sans-serif ;
}
.title2{
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.63);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    font-family:Roboto, sans-serif ;
}
.Product{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;  
    font-family:Roboto, sans-serif  ; 
}
.text{
    text-align: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.623);
    font-family:Roboto, sans-serif ;
}
/*--product listing end--*/
/*--product details start--*/
.bgimg{
    width: 100%;
    height: 200px;
    background:url(./img/bgimg2.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: white; 
    font-family:open sans,sans-serif ; 
}
.title3{
    text-align: center;
    font-size: 35px;
    padding-top: 70px;
    font-family:Roboto, sans-serif ;
}
.im{
    border: 2px solid black;
    border-radius: 20px;
}
.details{
    font-size: 20px;
    color: silver;
    font-family:Roboto, sans-serif ;
    
}
.main img{
    display: flex;
}
.button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: green;
}
.button:hover{
    color: blue;
    background-color: aqua;
}
.detail{
    padding-left: 300px;
    padding-bottom: 40PX;
    font-family:Roboto, sans-serif ;
}
.p{
    padding-top: 30px;
    font-size: 20px;
    font-family:open sans,sans-serif ; 
}
.de{
    padding-top: 20PX;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    color: #6A0D91;
    padding-bottom: 40px;
    font-family:open sans,sans-serif ; 
}
.review{
    padding-left: 300px;
    font-family:open sans,sans-serif ; 
}
.re{
    color:#6A0D91;
    padding-left: 300px;
    padding-top: 30px;
    font-family:Roboto, sans-serif ;
}
.rev{
    font-size: 20px;
    padding-left: 300px;
    color: silver;
    padding-top: 20px;
    font-family: Roboto, sans-serif;
}
/*--product details end--*/
/*--cart start--*/
.bgimg2{
    width: 100%;
    height: 200px;
    margin-top: 5%;
    background:url(./img/bgimg2.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    font-family:open sans,sans-serif ;
}
.carttitle{
    text-align: center;
   padding-top: 100px;
}
.table{
    width: 100%;
    font-size: 25px;
    margin-top: 5%;
}
.tr{
    border: 2px solid black;
}
.bt{
    width: 200px;
    height: 40px;
    margin-top: 5%;
    background-color: white;
    color: #6A0D91;
    font-size: 20px;
    border-radius: 20px;
    font-family: open sans,sans-serif;
}
.bt:hover{
    background-color: black;
    color: white;
}
.button1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.cartdetail{
    width: 300px;
    height: 300px;
    background-color: #6A0D91;
    margin-top: 5%;
    position: relative;
    left: 25%;
    border: 2px solid black;
    border-radius: 20px;
}
.cartti{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: roboto,sans-serif;
    padding-top: 20px;  
}
.det{
    padding-top: 30px;    
    padding-left: 10px;
}
.pro{
   border-radius: 20px;
   background-color: white;
   color: #6A0D91;
   height: 30px;
}
.pro:hover{
    background-color: black;
    color: white;
}
/*--cart end--*/
/*--checkout start--*/
.bgimg3{
    width: 100%;
    height: 200px;
    margin-top: 5%;
    background:url(./img/bgimg2.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    font-family:open sans,sans-serif ;
}
.checkouttitle{
    text-align: center;
    padding-top: 100px;
    font-size:50px;
}
.titile4{
    font-family:roboto,sans-serif ;
    padding-top: 100px;
    width: 300px;
    height: 50px;
}
.but{
    border-radius: 20px;
    height: 30px;
    width: 400px;
}
.checkout{
    background-color: silver;
    width: 600px;
    padding-left: 50px;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 20px;
}
.mainpage{
    display: flex;
    justify-content: space-evenly;
}
.d{
    background-color: silver;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 20px;
    height: 450px;
}
.name{
    font-size: 25px;
}
.bu{
   width: 200px;
   height: 40px;
   position: absolute;
   right: 20%;
}
/*--checkout end--*/
/*--contact start--*/

.bgimg4{
    width: 100%;
    height: 200px;
    margin-top: 5%;
    background:url(./img/bgimg2.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
    font-family:open sans,sans-serif ;
}
.contacttitle{
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
    font-family:roboto,sans-serif ;
}
.title5{
    font-family:roboto,sans-serif ;
    padding-top: 100px;
    text-align: center;  
}
.p4{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    font-family:open sans,sans-serif ;

}
.map{
    margin-top: 5%;
    width: 100%;
    height: 700px;
    background-color: silver;
}
.maps{
    padding-top: 20px;
    width: 70%;
    position: relative;
    left: 250px;
    border: 1px solid black;
    border-radius: 20px;
}
.f{
    margin-top: 20%;
}
.box4{
    width: 200px;
    height: 20px;
    border-radius: 20px;
}
.box5{
    width: 100px;
    height: 30px;
   background-color: black;
   color: white;
}
.box5:hover{
    background-color: lightskyblue;
    color: black;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    width: 600px;
    height: 300px;
    background-color: lightgray;
    position: relative;
    left: 200px;
    border: 2px solid black;
    border-radius: 20px;
}
.con{
    margin-top: 5%;
    font-family:open sans,sans-serif ;
}
/*--contact end--*/

/*-- footer start--*/
.footer{
    width: 100%;
    height: 600px;
    background-color: #6A0D91;
    margin-top: 10%;
    font-family:roboto,sans-serif ;

}
.footers{
    display:flex;
    justify-content: space-evenly;
    font-family:roboto,sans-serif ;
}
.fo{
    padding-top: 30px;
    color: white;
}
.box7{
    width: 250px;
    height: 30px;   
    border-radius: 20px;
}

.icon{
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px ;
}
.fot-detail{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    color: silver;
    font-family:open sans,sans-serif ;
}
.deta{
    padding-top: 30px;
    font-family:open sans,sans-serif ;
}
.data{
    padding-top: 10px;
    font-family:open sans,sans-serif ;
}
.bt2{
    width: 200px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;  
}
.bt2:hover{
    background-color: white;
    color: black;
}
/*--footer end--*/
