*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 400px;
    height: 500px;
    padding: 20px;
    margin:20px;
    border: 2px solid black;
    border-radius: 20px;
}
.img{
    width: 100%;
    height: 300px;
    transition: all 5s;

}
.P1{
    font-size: 20PX;
    text-align: center;
}

.title1{
   color: #1C325B;
   text-align: center;
}

.parentbox{
    display: grid;
    grid-template-columns:500px 500px 500px;
    justify-content: center;

}

.img:hover{
   transform: scale(1.1);
}