.chessboard {
    width: 378px;
    height: 377px;
    border: 1px solid black;
    margin: auto;
  }

  .square {
    width: 52px;
    height: 52px;
    float: left;
    border: 1px solid black;
  }

  .white {
    background-color: #FFFFFF;
  }

  .black {
    background-color: #000000;
  }
 .icon {
       height: 50px;
       width: 50px;
      }
      
.fa-regular, .far {
        font-weight: 400;
        padding: 15px;
    }
    .fa-solid, .fas {
      font-weight: 900;
      padding: 15px;
  }